<div class="container mt-5 mb-5 animated fadeIn">
    <h1 class="text-center m-auto title w-50"></h1>
    <div class="row p-3 mb-5 all rounded">
        <img class="col-6" [src]="">
        <div class="col-6 text-center align-center">
            <h1 class="text-uppercase ml-5 mt-5 text-center"></h1>
            <p class="h3 ml-5"> </p>
            <hr>
            <p></p>
            <hr>
            <div class=" mt-5">
                <button class="btn btn-danger ml-2">Add to Cart</button>
            </div>
        </div>

    </div>
</div>
<br>
<br>