<div class="container mt-5 mb-5">
    <h1 class="text-center title w-50 m-auto">All Categories</h1>
    <div class="row mt-5">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="all animated fadeIn">
                <a routerLink="/product/all">
                    <img src="assets/img/noimage.jpg" alt="allproducts">
                </a>
                <a routerLink="/product/all">
                    <h3>All Products</h3>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" *ngFor="let category of categories">
            <div class="all animated fadeIn">
                <a [routerLink]="['/category/', category.uid]">
                    <img class="rounded asd" [alt]="category.name"
                        [src]="category.image | imagecategory">
                </a>
                <a [routerLink]="['/category/', category.uid]">
                    <h3>{{category.name}}</h3>
                </a>
            </div>
        </div>
    </div>
</div>