<div class="container m-auto">
  <div class="mt-5 container all w-50">
    <h2 class="text-center text-danger">Login</h2>
    <form (ngSubmit)="login()" [formGroup]="loginForm" class="w-50 m-auto text-danger">
      <div class="mb-5">
      <div class="form-group">
        <label for="email">Email address</label>
        <input id="email" class="form-control" type="email" placeholder="Email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" class="form-control" type="password" placeholder="Password" formControlName="password">
      </div>
      <div class="form-group">
        <input class="checkbox mr-1" id="checkbox" type="checkbox" formControlName="remember">
        <label for="checkbox">Remember Me</label>
      </div>
      <div class="text-center">
        <button class="btn btn-primary m-auto" type="submit">Login</button>
      </div>
      <div id="my-signin2" class="mt-1 ml-1"></div>
      <hr>
      <div class="text-center">
        <a routerLink="/user/register">Register here</a>
      </div>
    </div>
    </form>
  </div>
</div>
